@media (max-width: 1100px) {
    body {
        padding-bottom: 1150px;
    }

    .last-div {
        position: absolute;
        bottom: 0px;
        right: 0px;
        left: 0px;
        font-family: arial;
        background-color: black;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 20px;
        box-shadow: 0px 0px 55px black;
    }

    .d-71 {
        margin-bottom: 70px;
    }

    .p8 {
        text-align: center;
        color: white;
        font-size: 28px;
        font-weight: 600;
    }

    .p9 {
        text-align: center;
        color: white;
    }

    .d-72 {
        display: flex;
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }

    .d-722 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .d-721 {
        display: flex;
        align-items: center;
        justify-content: start;
    }


    .bar {
        flex: 1;
        height: 45px;
        background-color: rgb(41, 41, 41);
        border-style: solid;
        border-color: rgb(41, 41, 41);
        border-radius: 25px;
        padding-left: 10px;
        font-size: 14px;
        transition: all 0.2s;
        color: white;
        box-shadow: 3px 3px 55px rgba(255, 255, 255, 0.15);
    }

    .bar:hover {
        border-color: white;
        box-shadow: 3px 3px 55px rgba(255, 255, 255, 0.5), inset 3px 3px 10px rgba(255, 255, 255, 0.15);
        scale: 1.02;
    }

    .bar:active {
        border-color: rgba(255, 255, 255, 0.5);
        box-shadow: 3px 3px 55px rgba(255, 255, 255, 0.5), inset 3px 3px 10px rgba(255, 255, 255, 0.15);
        scale: 1.01;
        opacity: 0.9;
    }

    .sign-in-button-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p11 {
        color: white;
        padding-left: 5px;
    }

    .special-button-div {
        background-color: white;
        height: 45px;
        width: 200px;
        position: relative;
        flex: unset;
        border-radius: 35px;
        overflow: hidden;
        transition: all 0.2s;
        box-shadow: 3px 3px 55px rgba(255, 255, 255, 0.3);
    }

    .special-button-animated-div {
        opacity: 0;
        border-radius: 35px;
        background: white;
        box-shadow: 3px 3px 55px rgb(255, 255, 255);
        height: 45px;
        width: 200px;
        position: absolute;
        flex: unset;   
        z-index: 2;
        margin-left: -300px;
        animation-fill-mode: forwards;
    }

    .special-button-div:hover .special-button-animated-div {
        animation: special-button-animation 1.25s linear infinite;
    }

    .special-button-div:hover {
        scale: 1.02;
        box-shadow: 3px 3px 55px rgba(255, 255, 255, 0.5);
    }

    .special-button-div:active {
        scale: 0.99;
        opacity: 0.9;
    }

    .special-button-shadow-div {
        border-radius: 35px;
        background: linear-gradient(to right, rgb(170, 170, 170), transparent, rgb(170, 170, 170));
        height: 45px;
        width: 200px;
        position: absolute;
        flex: unset;
    }

    .special-button-white-div {
        opacity: 0.1;
        background: linear-gradient(to top, rgb(255, 255, 255), transparent);
        margin-top: -65px;
        height: 45px;
        width: 200px;
        position: absolute;
        flex: unset;
        z-index: 1;
        border-radius: 25px;
    }


    @keyframes special-button-animation {
        0% {
            opacity: 0;
            margin-left: -400px;
        }
        50% {
            opacity: 0.8;
            margin-left: 0px;
        }
        100% {
            opacity: 0;
            margin-left: 400px;
        }
    }

    .special-button {
        background-color: transparent;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border: none;
        font-size: 13px;
        z-index: 3;
        border-radius: 35px;
        cursor: pointer;
    }


}

@media (min-width: 1100px) {
    body {
        padding-bottom: 500px;
        position: relative;
    }

    .last-div {
        position: absolute;
        bottom: 0px;
        right: 0px;
        left: 0px;
        font-family: arial;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        box-shadow: 0px 0px 55px black;
        display: flex;
        background-color: black;
        padding: 0px 50px 30px 50px;
    }

    .d-71 {
        flex: 1;
    }

    .p8 {
        text-align: start;
        color: white;
        font-size: 28px;
        font-weight: 600;
    }

    .p9 {
        text-align: start;
        color: white;
        margin: 0px 0px 25px 0px;
    }

    .d-72 {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .d-722 {
        display: flex;
        justify-content: start;
        align-items: center;
    }

    .d-721 {
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .bar {
        flex: 1;
        height: 45px;
        background-color: rgb(41, 41, 41);
        border-style: solid;
        border-color: rgb(41, 41, 41);
        border-radius: 25px;
        padding-left: 10px;
        font-size: 14px;
        transition: all 0.2s;
        color: white;
        box-shadow: 3px 3px 55px rgba(255, 255, 255, 0.15);
    }

    .bar:hover {
        border-color: white;
        box-shadow: 3px 3px 55px rgba(255, 255, 255, 0.5), inset 3px 3px 10px rgba(255, 255, 255, 0.15);
        scale: 1.02;
    }

    .bar:active {
        border-color: rgba(255, 255, 255, 0.5);
        box-shadow: 3px 3px 55px rgba(255, 255, 255, 0.5), inset 3px 3px 10px rgba(255, 255, 255, 0.15);
        scale: 1.01;
        opacity: 0.9;
    }

    .p11 {
        color: white;
        padding-left: 5px;
    }

    .sign-in-button-div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .special-button-div {
        background-color: white;
        height: 45px;
        width: 200px;
        position: relative;
        flex: unset;
        border-radius: 35px;
        overflow: hidden;
        transition: all 0.2s;
        box-shadow: 3px 3px 55px rgba(255, 255, 255, 0.3);
    }

    .special-button-animated-div {
        opacity: 0;
        border-radius: 35px;
        background: white;
        box-shadow: 3px 3px 55px rgb(255, 255, 255);
        height: 45px;
        width: 200px;
        position: absolute;
        flex: unset;   
        z-index: 2;
        margin-left: -300px;
        animation-fill-mode: forwards;
    }

    .special-button-div:hover .special-button-animated-div {
        animation: special-button-animation 1.25s linear infinite;
    }

    .special-button-div:hover {
        scale: 1.02;
        box-shadow: 3px 3px 55px rgba(255, 255, 255, 0.5);
    }

    .special-button-div:active {
        scale: 0.99;
        opacity: 0.9;
    }

    .special-button-shadow-div {
        border-radius: 35px;
        background: linear-gradient(to right, rgb(170, 170, 170), transparent, rgb(170, 170, 170));
        height: 45px;
        width: 200px;
        position: absolute;
        flex: unset;
    }

    .special-button-white-div {
        opacity: 0.1;
        background: linear-gradient(to top, rgb(255, 255, 255), transparent);
        margin-top: -65px;
        height: 45px;
        width: 200px;
        position: absolute;
        flex: unset;
        z-index: 1;
        border-radius: 25px;
    }


    @keyframes special-button-animation {
        0% {
            opacity: 0;
            margin-left: -400px;
        }
        50% {
            opacity: 0.8;
            margin-left: 0px;
        }
        100% {
            opacity: 0;
            margin-left: 400px;
        }
    }

    .special-button {
        background-color: transparent;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        border: none;
        font-size: 13px;
        z-index: 3;
        border-radius: 35px;
        cursor: pointer;
    }

}
